@font-face {
  font-family: 'Radiobox';
  src: url('https://dl.dropboxusercontent.com/u/189273812/RadioBox/Radiobox.eot');
  src: url('https://dl.dropboxusercontent.com/u/189273812/RadioBox/Radiobox.eot?#iefix') format('embedded-opentype'),
       url('https://dl.dropboxusercontent.com/u/189273812/RadioBox/Radiobox.woff2') format('woff2'),
       url('https://dl.dropboxusercontent.com/u/189273812/RadioBox/Radiobox.woff') format('woff'),
       url('https://dl.dropboxusercontent.com/u/189273812/RadioBox/Radiobox.ttf') format('truetype'),
       url('https://dl.dropboxusercontent.com/u/189273812/RadioBox/Radiobox.svg#Radiobox') format('svg');
  font-weight: normal;
  font-style: normal;
}