@font-face {
  font-family: 'sector 017';
  src: url('https://github.com/CDN-2/CDN-2.github.io/blob/master/sector_017.eot?raw=true'); /* IE9 Compat Modes */
  src: url('https://github.com/CDN-2/CDN-2.github.io/blob/master/sector_017.eot?raw=true?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://github.com/CDN-2/CDN-2.github.io/blob/master/Sector-017.woff?raw=true') format('woff'), /* Pretty Modern Browsers */
       url('https://github.com/CDN-2/CDN-2.github.io/blob/master/sector_017.ttf?raw=true')  format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/CDN-2/CDN-2.github.io/master/Sector-017.svg#sector_017') format('svg'); /* Legacy iOS */
}
