@font-face {
  font-family: 'sector 034';
  src: url('https://raw.githubusercontent.com/CDN-2/CDN-2.github.io/master/sector_034.eot'); /* IE9 Compat Modes */
  src: url('https://raw.githubusercontent.com/CDN-2/CDN-2.github.io/master/sector_034.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/CDN-2/CDN-2.github.io/master/Sector-034.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://raw.githubusercontent.com/CDN-2/CDN-2.github.io/master/sector_034.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/CDN-2/CDN-2.github.io/master/Sector-034.svg') format('svg'); /* Legacy iOS */
}
